<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Form</title>
	</head>
	<body>
		<h1>Add a new user</h1>
		<a href="/">Home</a>
		<form action="/new/process" method="POST">
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label"
					>First Name:</label
				>
				<input
					type="text"
					class="form-control"
					id="exampleFormControlInput1"
					name="first_name"
				/>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label"
					>Last Name:</label
				>
				<input
					type="text"
					class="form-control"
					id="exampleFormControlInput1"
					name="last_name"
				/>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Email</label>
				<input
					type="text"
					class="form-control"
					id="exampleFormControlInput1"
					name="email"
				/>
			</div>
			<button>Submit</button>
		</form>
	</body>
</html>
