body {
	background-color: brown;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body main .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
