<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Form Test</title>
	</head>
	<body>
		<h1>Index Page</h1>
		<h3>Create a User</h3>
		<form action="/users" method="post">
			<!--! calls this route (/users) | method: declaring type (get or post)-->
			<label for="name">Name:</label>
			<input type="text" name="name" />
			<!--name declares what key name we are giving this input-->
			<label for="email">Email:</label>
			<input type="text" name="email" />
			<input type="submit" value="create user" />
			<!--! executes form action route /users-->
		</form>
	</body>
</html>
