<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
			crossorigin="anonymous"
		/>
		<title>Edit Recipe</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		<!-- declare a variable called messages -->
		{% if messages %}
		<!-- check if there are any messages -->
		{% for message in messages %}
		<!-- loop through the messages -->
		<p>{{message}}</p>
		<!-- display each message in a paragraph tag -->
		{% endfor %} {% endif %} {% endwith %}
		<div>
			<h1>Edit a recipe</h1>
			<a href="/recipes">Back to recipes</a>
			<a href="/logout"><button>Logout</button></a>
		</div>
		<form action="/recipes/{{ recipes.id }}/edit" method="POST">
			<div class="mb-3 col-5 p-4 bg-light text-dark">
				<div class="form-group">
					<label for="name">Name:</label>
					<input
						type="text"
						name="name"
						value="{{ recipes.name }}"
						class="form-control"
					/>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Description</label>
					<textarea
						name="description"
						class="form-control"
						id="description"
						rows="3"
					>
{{ recipes.description }}</textarea
					>
				</div>
				<div class="mb-3">
					<label for="instructions" class="form-label">Instructions</label>
					<textarea
						name="instructions"
						class="form-control"
						id="instructions"
						rows="3"
					>
{{ recipes.instructions }}</textarea
					>
				</div>

				<div class="mb-3 col-5 p-4 bg-light text-dark">
					<div class="form-group">
						<!-- Date input -->
						<label class="control-label" for="date">Date</label>
						<input
							class="form-control"
							id="date"
							name="date"
							value="{{recipes.date.strftime('%Y-%m-%d')}}"
							placeholder="MM/DD/YYY"
							type="date"
						/>
					</div>
				</div>

				<div class="form-check">
					<p>Under 30 minutes?</p>
					<input class="form-check-input" type="radio" name="under30"
					id="under30" value="1"{% if recipes.under30 ==1 %} checked {% endif
					%}" />
					<label class="form-check-label" for="under30"> Yes </label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="under30"
					id="under30" value="0"{% if recipes.under30 ==0 %} checked {% endif
					%}" checked />
					<!--!IDs must be the same for radio button-->
					<label class="form-check-label" for="flexRadioDefault2"> No </label>
				</div>
			</div>
			<button>Submit</button>
			<input type="hidden" value="{{ recipes.id }}" name="id" />
		</form>
	</body>
</html>
