<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Playground</title>
	</head>
	<body>
		<style>
			.wrapper {
				display: flex;
				justify-content: space-betweens;
				flex-wrap: wrap;
				gap: 10px;
			}

			.boxes {
				height: 200px;
				width: 200px;
			}
		</style>

		<div class="wrapper">
			{% for i in range(0,num) %}
			<div class="box" style="background-color: {{color}}"></div>
			{% endfor %}
		</div>
	</body>
</html>
